<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gerenciador de Tarefas - Mupi{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/base.css' %}">
    <link rel="icon" href="{% static 'tasks/images/favicon.ico' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <img id="logo_mupi" src="{% static 'tasks/images/logo.svg' %}" alt="Logo Mupi Systems">
        <div class="nav_links">
            <a class="link_base" href="{% url 'home' %}">Minhas Tarefas</a>
        </div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="link_base btn_logout" type="submit">Sair</button>
        </form>
    </header>

   

    <main>
        <!-- Mensagens de Feedback -->
        <div class="alert-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>        
        
        <!-- Conteúdo Dinâmico -->
        {% block content %}{% endblock %}
    </main>

    <script>
        const alerts = document.querySelectorAll('.alert');
        
        alerts.forEach((alert) => {
            setTimeout(() => {
                alert.style.opacity = '0';
                setTimeout(() => alert.remove(), 500); 
            }, 4000); 
        });
    </script>
</body>
</html>
