{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tasks/css/task_form.css' %}">
{% endblock %}

{% block title %}{% if is_update %}Editar Tarefa{% else %}Criar Nova Tarefa{% endif %}{% endblock %}

{% block content %}
<div class="container-form">
    <h1 class="title_form">{% if is_update %}Editar Tarefa{% else %}Criar Nova Tarefa{% endif %}</h1>
    <form method="post" class="form">
        {% csrf_token %}
        
        <div class="campo">
            <label for="id_title">Título:</label>
            {{ form.title }}
            {% if form.title.errors %}
                <p>{{ form.title.errors }}</p>
            {% endif %}
        </div>
    
        <div class="campo">
            <label for="id_description">Descrição:</label>
            {{ form.description }}
            {% if form.description.errors %}
                <p>{{ form.description.errors }}</p>
            {% endif %}
        </div>
    
        <div class="campo">
            <label for="id_due_date">Prazo:</label>
            {{ form.due_date }}
            {% if form.due_date.errors %}
                <p>{{ form.due_date.errors }}</p>
            {% endif %}
        </div>
        
        <button type="submit" class="btn-save">
            {% if is_update %}Atualizar{% else %}Salvar{% endif %}
        </button>
    </form>
    <a class="link-home" href="{% url 'home' %}" >Voltar para a Página Inicial</a>
</div>
{% endblock %}
