{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tasks/css/task_confirm_delete.css' %}">
{% endblock %}
{% block title %}Deletar Tarefa{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Tem certeza de que deseja deletar esta tarefa?</h1>
    
    <ul>
        <li><strong>Título:</strong> {{ task.title }}</li>
        <li><strong>Descrição:</strong> {{ task.description }}</li>
        <li class="font-number"><strong>Prazo:</strong> {{ task.due_date|date:"d/m/Y H:i" }}</li>
        <li class="font-number"><strong>Criada em:</strong> {{ task.created_at|date:"d/m/Y H:i" }}</li>
        <li><strong>Concluída:</strong> {% if task.completed %}Sim{% else %}Não{% endif %}</li>
    </ul>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="{% url 'home' %}" class="btn">Cancelar</a>
    </form>
</div>
{% endblock %}
